<html>
<head> 
    <title>This is our project for Program Project Sem Minor CSCI 23300 </title>
    <h2>This is our project for Program Project Sem Minor CSCI 23300 </h2>
</head>
<body>
    <li> <A HREF = "https://github.com/KevinSanchez6915">Kevin's Github</A> </li> 
    <li> contact at  kevin.sanchez52@myhunter.cuny.edu</li> 
    <li> <A HREF = "https://github.com/SergeyFrolov20">Sergey's Github</A> </li> 
    <li> contact at sergey.frolov52@myhunter.cuny.edu</li> 
    <li> <A HREF = "https://github.com/KomieKazi">Ash's Github</A> </li>  
    <li> contact at ashraf.talukder53@myhunter.cuny.edu</li> 
    <li> <A HREF = "https://github.com/Xavulu">Xavier's Github</A> </li>  
    <li> contact at Xavier.fernandez@myhunter.cuny.edu </li> 
</body>
</html> 